/* -----------------------------------------------------------------------------
   XSheet Viewer
----------------------------------------------------------------------------- */

/* ScrollAreas (Row, Column and Cell)
----------------------------------------------------------------------------- */

#xsheetArea,
#ScrollColumnArea,
#ScrollRowArea,
#ScrollCellArea {
  background-color: @ui-color;
  border: 0;
}

#xsheetScrollArea {	
  border: 0;

  & QAbstractItemView {
    background-color: @menu-bg-color;
    selection-background-color: @menu-item-bg-color-selected;
    selection-color: @menu-item-text-color-selected;
    border: 1 solid @menu-border-color;
  }
}

#cornerWidget {
  & QToolButton {
    padding: 0;
  }
}

#XsheetCellArea {
  // This is for the textfield when inputting drawing names into cells
  & QLineEdit {
    // This mixin is maximum contrast
    .spreadsheet-textfield-style();
  }
}

#RenameCellField {
  padding-right: 3;
}

#XsheetBreadcrumbs {
  background-color: @ui-dark2;
  padding: 0 5 0 5;
  margin: 0;
  border-bottom: 1 solid @dark-border-color;

  & QWidget {
    background-color: @ui-dark2;
  }

  & QFrame {
    background-color: @ui-dark2;
  }

  &::separator:horizontal {
    margin: 0 0 0 2;
  }
}

/* xsheetColumnHeader (Context Menus)
----------------------------------------------------------------------------- */

#xsheetColumnAreaMenu_Preview {	
  @xsh-menu-preview-color: hsl(hue(@xsh-preview-button-bg-on-color), 40%, 80%);
  background-color: @xsh-menu-preview-color;
  color: #000;
  
  &::item:selected {
    background-color: hsl(hue(@xsh-menu-preview-color), 40%, 60%);
    color: #000;
  }
}

#xsheetColumnAreaMenu_Camstand {
  @xsh-menu-camstand-color: hsl(hue(@xsh-camstand-button-bg-on-color), 40%, 80%);
  background-color: @xsh-menu-camstand-color;	
  color: #000;
  
  &::item:selected {
    background-color: hsl(hue(@xsh-menu-camstand-color), 40%, 60%);
    color: #000;
  }
}

#xsheetColumnAreaMenu_Lock {
  @xsh-menu-lock-color: hsl(0, 0%, 95%);
  background-color: @xsh-menu-lock-color;	
  color: #000;

  &::item:selected {
    background-color: hsl(0, 0%, 70%);
    color: #000;
  }
}

/* -------------------------------------------------------------------------- */

#noteTextEdit {
  color: #000; // #todo: redundant?
}

#DvMiniToolBar {
  border: 1 solid @dark-border-color;
}

/* XSheet Spreadsheet
----------------------------------------------------------------------------- */

XsheetViewer {
  qproperty-TextColor: @xsh-cell-text-color;
  qproperty-ErrorTextColor: rgb(255, 123, 123);
  qproperty-SelectedTextColor: @xsh-selected-cell-text-color;
  qproperty-FrameTextColor: @xsh-frame-row-text-color;
  qproperty-CurrentFrameTextColor: @xsh-current-frame-text-color;
  qproperty-PreviewFrameTextColor: @xsh-preview-frame-text-color;
  qproperty-ColumnTextColor:@dull-text-color;
  qproperty-HighlightColumnTextColor: @xsh-cell-text-color;
  qproperty-KeyframeLineColor: @xsh-keyframe-line-color;
  qproperty-LevelEndColor: @xsh-level-end-color;

  qproperty-BGColor: @xsh-frame-row-bg-color;
  qproperty-LightBGColor: @xsh-LightBG-color; // #todo: redundant?
  qproperty-DarkBGColor: @xsh-DarkBG-color; // #todo: redundant?
  qproperty-LightLightBGColor: @xsh-column-color; // #todo: redundant?
  qproperty-LightLineColor: @xsh-horizontal-cell-line-color;
  qproperty-DarkLineColor: @xsh-DarkLine-color;
  qproperty-VerticalLineColor: @xsh-vertical-column-line-color;
  qproperty-VerticalLineHeadColor: @dark-border-color;
  qproperty-ColumnIconLineColor: @dark-border-color;
  qproperty-CycleColor: @xsh-cell-text-color;
  qproperty-CurrentRowBgColor: @xsh-current-frame-row-bg-color;
  qproperty-OnionSkinAreaBgColor: @xsh-onionskin-column-bg-color;
  qproperty-PlayRangeColor: @xsh-play-range-row-bg-color;
  qproperty-CurrentTimeIndicatorColor: @xsh-current-time-indicator-color;
  qproperty-EmptyColumnHeadColor: @xsh-empty-column-head-color;
  qproperty-CellFocusColor: @xsh-current-cell-border-color;
  qproperty-ColumnHeadPastelizer: @xsh-column-header-pastelizer-color;
  qproperty-SelectedColumnHead: @xsh-selected-column-border-color;

  qproperty-FoldedColumnBGColor: @xsh-folded-column-bg-color;
  qproperty-FoldedColumnLineColor: @xsh-folded-column-line-color;

  qproperty-MarkerLineColor: @xsh-marker-line-color;
  qproperty-SecMarkerLineColor: @xsh-sec-marker-line-color;
  qproperty-SelectedMarkerLineColor: @xsh-selected-marker-line-color;
  
  qproperty-EmptyCellColor: @xsh-empty-column-color;
  qproperty-NotEmptyColumnColor: @xsh-column-color;
  qproperty-SelectedEmptyCellColor: @xsh-selected-empty-area-color;


  // Level Type Colors
  // ---------------------------------------------------------------------------
  qproperty-LevelColumnColor: lighten(saturate(@xsh-toonzraster-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-LevelColumnBorderColor: lighten(saturate(@xsh-toonzraster-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedLevelColumnColor: lighten(saturate(@xsh-toonzraster-color, @xsh-hl-saturation), @xsh-hl-lightness);
  
  qproperty-VectorColumnColor: lighten(saturate(@xsh-vector-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-VectorColumnBorderColor: lighten(saturate(@xsh-vector-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedVectorColumnColor: lighten(saturate(@xsh-vector-color, @xsh-hl-saturation), @xsh-hl-lightness);  

  qproperty-ChildColumnColor: lighten(saturate(@xsh-sub-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-ChildColumnBorderColor: lighten(saturate(@xsh-sub-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedChildColumnColor: lighten(saturate(@xsh-sub-color, @xsh-hl-saturation), @xsh-hl-lightness);

  qproperty-FullcolorColumnColor: lighten(saturate(@xsh-raster-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-FullcolorColumnBorderColor: lighten(saturate(@xsh-raster-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedFullcolorColumnColor: lighten(saturate(@xsh-raster-color, @xsh-hl-saturation), @xsh-hl-lightness);

  qproperty-FxColumnColor: lighten(saturate(@xsh-fx-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-FxColumnBorderColor: lighten(saturate(@xsh-fx-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedFxColumnColor: lighten(saturate(@xsh-fx-color, @xsh-hl-saturation), @xsh-hl-lightness);

  qproperty-ReferenceColumnColor: @xsh-reference-color;
  qproperty-ReferenceColumnBorderColor: @xsh-reference-handle-color;
  qproperty-SelectedReferenceColumnColor: @xsh-reference-selected-color;

  qproperty-PaletteColumnColor: lighten(saturate(@xsh-palette-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-PaletteColumnBorderColor: lighten(saturate(@xsh-palette-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedPaletteColumnColor: lighten(saturate(@xsh-palette-color, @xsh-hl-saturation), @xsh-hl-lightness);

  qproperty-MeshColumnColor: lighten(saturate(@xsh-mesh-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-MeshColumnBorderColor: lighten(saturate(@xsh-mesh-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedMeshColumnColor: lighten(saturate(@xsh-mesh-color, @xsh-hl-saturation), @xsh-hl-lightness);

  qproperty-MetaColumnColor: lighten(saturate(@xsh-assistants-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-MetaColumnBorderColor: lighten(saturate(@xsh-assistants-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedMetaColumnColor: lighten(saturate(@xsh-assistants-color, @xsh-hl-saturation), @xsh-hl-lightness);
  
  qproperty-SoundTextColumnColor: @xsh-notes-color;
  qproperty-SoundTextColumnBorderColor: @xsh-notes-border-color;
  qproperty-SelectedSoundTextColumnColor: @xsh-notes-selected-cell-color;
  
  qproperty-SoundColumnColor: lighten(saturate(@xsh-sound-color, @xsh-cell-saturation), @xsh-cell-lightness);
  qproperty-SoundColumnBorderColor: lighten(saturate(@xsh-sound-color, @xsh-handle-saturation), @xsh-handle-lightness);
  qproperty-SelectedSoundColumnColor: lighten(saturate(@xsh-sound-color, @xsh-hl-saturation), @xsh-hl-lightness);
  qproperty-SoundColumnHlColor: @xsh-sound-hl-color;
  qproperty-SoundColumnTrackColor: @xsh-sound-track-color;
  
  qproperty-ActiveCameraColor: @xsh-camera-active-color;
  qproperty-SelectedActiveCameraColor: lighten(saturate(@xsh-camera-active-color, @xsh-hl-saturation), @xsh-hl-lightness);
  qproperty-OtherCameraColor: @xsh-camera-other-color;
  qproperty-SelectedOtherCameraColor: lighten(saturate(@xsh-camera-other-color, @xsh-hl-saturation), @xsh-hl-lightness);
  
  qproperty-TableColor: @xsh-table-color;
  qproperty-PegColor: @xsh-peg-color;
  
  // Column Header: Vertical (XSheet)
  // ---------------------------------------------------------------------------
  qproperty-XsheetColumnNameBgColor: @xsh-column-name-bg-color;
  qproperty-XsheetDragBarHighlightColor: rgba(255, 255, 255, 0.25);
  
  qproperty-XsheetPreviewButtonBgOnColor: @xsh-preview-button-bg-on-color;
  qproperty-XsheetPreviewButtonOnImage: url('@{img-url}/x_prev_eye_on.svg');
  qproperty-XsheetPreviewButtonBgOffColor: transparent;
  qproperty-XsheetPreviewButtonOffImage: url('@{img-url}/x_prev_eye_off.svg');

  qproperty-XsheetUnifiedButtonTranspImage: url('@{img-url}/x_prev_eye_transp.svg');

  qproperty-XsheetCamstandButtonBgOnColor: @xsh-camstand-button-bg-on-color;
  qproperty-XsheetCamstandButtonOnImage: url('@{img-url}/x_table_view_on.svg');
  qproperty-XsheetCamstandButtonTranspImage: url('@{img-url}/x_table_view_transp.svg');
  qproperty-XsheetCamstandButtonBgOffColor: transparent;
  qproperty-XsheetCamstandButtonOffImage: url('@{img-url}/x_table_view_off.svg');

  qproperty-XsheetLockButtonBgOnColor: @xsh-lock-button-bg-on-color;
  qproperty-XsheetLockButtonOnImage: url('@{img-url}/x_lock_on.svg');
  qproperty-XsheetLockButtonBgOffColor: transparent;
  qproperty-XsheetLockButtonOffImage: url('@{img-url}/x_lock_off.svg');

  qproperty-XsheetConfigButtonBgColor: @xsh-config-button-bg-color;
  qproperty-XsheetConfigButtonImage: url('@{img-url}/x_config.svg');
  
  // Column Header: Horizontal (Timeline)
  // ---------------------------------------------------------------------------
  qproperty-TimelineIconLineColor: @dark-border-color;
  qproperty-FrameRangeMarkerLineColor: if(lightness(@xsh-frame-row-bg-color) > 35%, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));

  qproperty-TimelinePreviewButtonBgOnColor: @ui-color;
  qproperty-TimelinePreviewButtonOnImage: url('@{img-url}/preview_small.svg');
  qproperty-TimelinePreviewButtonBgOffColor: @ui-color;
  qproperty-TimelinePreviewButtonOffImage: url('@{img-url}/transparent.svg');
  
  qproperty-TimelineUnifiedButtonTranspImage: url('@{img-url}/preview_trans_small.svg');

  qproperty-TimelineCamstandButtonBgOnColor: @ui-color;
  qproperty-TimelineCamstandButtonOnImage: url('@{img-url}/table_small.svg');
  qproperty-TimelineCamstandButtonTranspImage: url('@{img-url}/trans_small.svg');
  qproperty-TimelineCamstandButtonBgOffColor: @ui-color;
  qproperty-TimelineCamstandButtonOffImage: url('@{img-url}/transparent.svg');

  qproperty-TimelineLockButtonBgOnColor: @ui-color;
  qproperty-TimelineLockButtonOnImage: url('@{img-url}/lock_on_small.svg');
  qproperty-TimelineLockButtonBgOffColor: @ui-color;
  qproperty-TimelineLockButtonOffImage: url('@{img-url}/transparent.svg');

  qproperty-TimelineConfigButtonBgColor: @ui-color;
  qproperty-TimelineConfigButtonImage: url('@{img-url}/timeline_config.svg');

  // Parent Drop-Down Menu
  // ---------------------------------------------------------------------------
  & QListWidget {
    background-color: @menu-bg-color;
    border: 1 solid @menu-border-color;
    
    &::item {
      color: @menu-text-color;
      padding: 3 0 3 0;
      
      &:hover {
        background-color: @secondary-hl-color;
        color: @secondary-hl-text-color;
      }
      
      &:selected {
        background-color: @menu-item-bg-color-selected;
        color: @menu-item-text-color-selected;
      }
    }
  }
}

/* -----------------------------------------------------------------------------
   Function Editor
----------------------------------------------------------------------------- */

#FunctionEditor {
  & QToolBar {
    // Use this variable to keep the function editor scrolling in-sync with the
    // X-sheet when docked side-by-side (higher value pushes editor down)
    @scroll-sync-height: 26;

    border: 0; // no border for now, it causes issues with sync
    height: @scroll-sync-height;
    min-height: @scroll-sync-height;
    max-height: @scroll-sync-height;

    & QToolBar {
      border: 0;
    }
  }

  & QToolButton {
    margin: 0;
    padding: 2;
  }
}

#FunctionParametersPanel {
  .main-frame-style();
}

#FunctionEditorTree {
  .treeview-item-style();
  border-top: 1 solid @dark-border-color;

  &::branch {
    .treeview-branch-style();
  }
}

FunctionTreeView {
  qproperty-TextColor: @text-color;
}

/* Function Editor Spreadsheet
----------------------------------------------------------------------------- */
// If a qproperty shares the same likeness with X-Sheet then use the ones for
// the X-Sheet for consistency.

#ScrollRowArea,
#ScrollCellArea {
  border-top: 1 solid @xsh-vertical-column-line-color;
}

#ScrollCellArea {
  border-left: 1 solid @xsh-vertical-column-line-color;
}

#ScrollColumnArea {
  padding-left: 2;
}

FunctionPanel {
  qproperty-BGColor: @fe-panel-bg-color;
  qproperty-ValueLineColor: @fe-panel-value-line-color;
  qproperty-FrameLineColor: @fe-panel-frame-line-color;
  qproperty-OtherCurvesColor: @fe-panel-other-curves-color;
  qproperty-RulerBackground: @fe-panel-ruler-bg-color;
  qproperty-TextColor: @fe-panel-text-color;
  qproperty-SubColor: @fe-panel-sub-color;
  qproperty-SelectedColor: @fe-panel-selected-color;
}

SpreadsheetViewer {
  & QLineEdit {
    // For cell input textfields
    .spreadsheet-textfield-style();
  }

  qproperty-LightLightBGColor: @xsh-empty-column-color;
  qproperty-CurrentRowBgColor: @xsh-current-frame-row-bg-color;
  qproperty-LightLineColor: @xsh-horizontal-cell-line-color;
  qproperty-MarkerLineColor: @xsh-marker-line-color;
  qproperty-SecMarkerLineColor: @xsh-sec-marker-line-color;
  qproperty-BGColor: @xsh-column-color;
  qproperty-VerticalLineColor: @xsh-vertical-column-line-color;
  qproperty-KeyFrameColor: @fe-keyframe-color;
  qproperty-KeyFrameBorderColor: saturate(darken(@fe-keyframe-color, 15%), 15%);
  qproperty-SelectedKeyFrameColor: saturate(lighten(@fe-keyframe-color, 15%), 15%);
  qproperty-IgnoredKeyFrameColor: @fe-ignored-keyframe-color;
  qproperty-SelectedIgnoredKeyFrameColor: @fe-selected-ignored-keyframe-color;
  qproperty-InBetweenColor: @fe-inbetween-color;
  qproperty-InBetweenBorderColor: saturate(darken(@fe-inbetween-color, 10%), 0%);
  qproperty-SelectedInBetweenColor: saturate(lighten(@fe-inbetween-color, 15%), 0%);
  qproperty-IgnoredInBetweenColor: @fe-ignored-inbetween-color;
  qproperty-SelectedIgnoredInBetweenColor: @fe-selected-ignored-inbetween-color;
  qproperty-SelectedEmptyColor: @xsh-selected-empty-area-color;
  qproperty-SelectedSceneRangeEmptyColor: @xsh-selected-empty-area-color;
  qproperty-TextColor: @fe-text-color;
  qproperty-CurrentRowTextColor: @xsh-current-frame-text-color;
  qproperty-FrameTextColor: @xsh-frame-row-text-color;
  qproperty-GroupNameTextColor: @normal-label-color;
  qproperty-ChannelNameTextColor: @text-color;
  qproperty-ColumnHeaderBorderColor: @dark-border-color; // group border
  qproperty-KeyframeLineColor: @fe-cycle-color; // zigzag line
}

#FunctionSegmentViewer {
  & QPushButton {
    margin: 0 1;
  }
}

#ExpressionField {
  background-color: #e7e7e7;
	border: 1 solid @dark-border-color;
  margin: 0;
}

// #FunctionSegmentViewerLinkButton {} // #todo: redundant?
